.button {
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  padding: 10px 10px;
  width: 200px;
  height: 50px;
}

.button_main {
  color: #fff;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
}

.button_info {
  color: #fff;
  padding: 5px 15px;
  background-color: #6c757d;
  border: 1px solid #6c757d;
}

.button_main:hover {
  background-color: #0a58ca;
  color: #fff;
}

.button_info:hover {
  background-color: #888f94;
  color: #fff;
}

.flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.model_info {
  width: 50%;
}
.model_info h3 {
  font-weight: 100;
}
.model_info h3 span {
  font-weight: 500;
}